<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Project Clarity{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Project Clarity Logo" class="logo-img">
            <h1>Project Clarity</h1>

        </div>
    </header>
    
    <main>
        <div class="login-container login_2">
            <h2>Student View Page</h2>
                <div class="credentials">
                    <input class="input username" id="username" type="email" placeholder="Enter your email...">
                    <input class="input password" id="password" type="password" placeholder="Enter your password...">
                    <button class="btn btn-login" id="loginbtn">Login</button>
                    <p id="output"></p>
                </div>
        </div>
    </main>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>